GATEWAY_URL=https://gateway.amber.centrifuge.io/
TINLAKE_URL=https://kovan.staging.tinlake.centrifuge.io/
RPC_URL=https://kovan.infura.io/v3/a4ba76cd4be643618572e7467a444e3a
ETH_ADMIN_ADDRESS=secret
ETH_ADMIN_PRIVATE_KEY=secret
ETH_BORROWER_ADDRESS=secret
ETH_BORROWER_PRIVATE_KEY=secret
POOL_ID=0xc4084221Fb5D0f28f817c795435C2d17EAb6c389
NFT_REGISTRY=0xaC0c1EF395290288028A0a9FDFc8FDebEbE54a24
CI=false
CUCUMBER_PUBLISH_TOKEN=secret