.next
.idea/
.vscode
.DS_Store
node_modules
out
services/tinlake/addresses_tinlake.json
nft_data_definition.json
functions

# Local Netlify folder
.netlify

# Yarn
yarn-error.log

# Environment files
.env*.local
.env*