{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"

  ],
  "plugins": [
    "transform-class-properties",
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry"
          }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
      ],
      "plugins": [
        "transform-class-properties",
        "babel-plugin-styled-components"
      ]
    }
  }
}
