name: 'centrifuge-app Demo'
on:
  push:
    branches:
      - main
    paths:
      - 'centrifuge-app/**'
      - 'fabric/**' # dependency
      - 'centrifuge-js/**' # dependency
      - '.github/workflows/centrifuge-app-build-and-deploy.yml' # dependency
      - '.github/workflows/centrifuge-app-deploy-demo.yml'

jobs:
  dev:
    uses: centrifuge/apps/.github/workflows/centrifuge-app-build-and-deploy.yml@main
    with:
      netlify-alias: ''
      ipfs-gateway: https://altair.mypinata.cloud/
      collator-wss-url: wss://fullnode.demo.cntrfg.com
      relay-wss-url: wss://fullnode-relay.demo.cntrfg.com
      subscan-url: https://rococo.subscan.io
      whitelisted-accounts: ''
      network: centrifuge
      pool-creation-type: immediate
      default-node-url: ''
      subquery-url: https://api.subquery.network/sq/centrifuge/pools-demo
      onboarding-api-url: https://europe-central2-peak-vista-185616.cloudfunctions.net/onboarding-api-dev
      faucet-url: https://us-central1-peak-vista-185616.cloudfunctions.net/faucetDemo
      tinlake-network: goerli
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      netlify-auth-token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      netlify-site-id: ${{ secrets.CENTRIFUGE_APP_DEMO_NETLIFY_SITE_ID }}
      pinata-api-key: ${{ secrets.PINATA_API_KEY }}
      pinata-secret-api-key: ${{ secrets.PINATA_SECRET_API_KEY }}
