name: 'Run tests'
on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Docker build
        run: docker build -t tinlake-e2e-tests -f docker/Dockerfile .
      - name: Docker run
        run: docker run tinlake-e2e-tests
        env:
          GATEWAY_URL: https://gateway.amber.centrifuge.io/
          TINLAKE_URL: https://kovan.staging.tinlake.centrifuge.io/
          RPC_URL: https://kovan.infura.io/v3/270d356e743d463985d05ed87c6441e8
          ETH_ADMIN_ADDRESS: ${{ secrets.ETH_ADMIN_ADDRESS }}
          ETH_ADMIN_PRIVATE_KEY: ${{ secrets.ETH_ADMIN_PRIVATE_KEY }}
          ETH_BORROWER_ADDRESS: ${{ secrets.ETH_BORROWER_ADDRESS }}
          ETH_BORROWER_PRIVATE_KEY: ${{ secrets.ETH_BORROWER_PRIVATE_KEY }}
          TINLAKE_POOL: '{"addresses": { "ROOT_CONTRACT": "0xc4084221Fb5D0f28f817c795435C2d17EAb6c389", "TINLAKE_CURRENCY": "0x99E21e1e7D99d06F780666A3BE6Ba178De04B0a9", "TITLE": "0x7bb079b848C672bE1ab1b46a66D87615C5385D1c", "PILE": "0x82EE3F4B872d2a53b7B5Cf2bd88EBC8736914407", "SHELF": "0xC7e4515fb85bB5bA1a76A8624E2aB563b4dea8aF", "COLLECTOR": "0x3861740104c072C6f884b8510Ad42e1502cA4d3b", "FEED": "0x677B85998F15921982B1548763F01Ac6C265B8Eb", "JUNIOR_OPERATOR": "0x773B9e0bAD438eEb99A4BBC621327cd2e946fe3d", "SENIOR_OPERATOR": "0xac62e114f4e7b5E78208Df085A70da38045832fb", "JUNIOR_TRANCHE": "0xD36fe8e53A25376014B0eA7b5533c2E0B0FcD227", "SENIOR_TRANCHE": "0x88aD5b21A01D838b15619f36f88b618410797B95", "JUNIOR_TOKEN": "0x3173244a39D3E918f3E27F6765f2438006C90E73", "SENIOR_TOKEN": "0x085C3f24dC6b4131A5620A28702101D163Ac7798", "JUNIOR_MEMBERLIST": "0x3b07CEA6096591B51DB82717D64e882F2f95D445", "SENIOR_MEMBERLIST": "0x9fC4856165490b7A3F024b2ADB054B902B42ab7d", "ASSESSOR": "0x8B80927fCa02566C29728C4a620c161F63116953", "COORDINATOR": "0x9C5431A86DEDaDE67e59E0555c9FeA9b6632D8d2", "RESERVE": "0xA590f0f6b627b9E0a63e5062EEd4dFCbbeF7FceD", "GOVERNANCE": "0x0A735602a357802f553113F5831FE2fbf2F0E2e0", "ACTIONS": "0x60cc4a2868559e513112f0742e6f546d339ea17b", "PROXY_REGISTRY": "0xb0cd959bbbe799ba7d18c7d28008553a7b47a04c" }, "slug": "kovan-revolving-pool-1"}'
          NFT_REGISTRY: 0xaC0c1EF395290288028A0a9FDFc8FDebEbE54a24x