name: 'nft-studio Pull request'
on:
  pull_request:
    paths:
      - 'nft-studio/**'
      - 'fabric/**' # dependency
      - 'centrifuge-js/**' # dependency
      - '.github/workflows/nft-studio-build-and-deploy.yml' # dependency
      - '.github/workflows/nft-studio-pull-request.yml'

jobs:
  pull-request:
    uses: centrifuge/apps/.github/workflows/nft-studio-build-and-deploy.yml@nft-studio/backward-compatibility
    with:
      netlify-alias: pr-${{ github.event.pull_request.number }}
      ipfs-gateway: https://altair.mypinata.cloud/
      collator-wss-url: wss://fullnode.altair-dev.cntrfg.com
      relay-wss-url: wss://rococo-rpc.polkadot.io
      subscan-url: https://rococo.subscan.io
      whitelisted-accounts: ''

    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      netlify-auth-token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      netlify-site-id: ${{ secrets.NFT_STUDIO_DEV_NETLIFY_SITE_ID }}
      pinata-api-key: ${{ secrets.PINATA_API_KEY }}
      pinata-secret-api-key: ${{ secrets.PINATA_SECRET_API_KEY }}
