name: 'onboarding-api'
on:
  push:
    branches:
      - main
    # paths:
    #   - 'onboarding-api/**'
  pull_request:
    # paths:
    #   - 'onboarding-api/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: onboarding-api
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 #@v3.1.0

      - name: Setup Node
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 #@v3
        with:
          node-version: 16
          cache: yarn

      - name: YARN install
        run: yarn install

      - name: Lint check
        run: yarn lint

      - name: Build function
        run: yarn build

      - name: Archive functions artifacts
        uses: actions/upload-artifact@v3
        with:
          name: onboarding-api
          retention-days: 1
          path: onboarding-api/dist

  deployment:
    needs: build
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/master' && 'production' || 'preview' }}
    steps:
      - name: retrieve artifacts
        uses: actions/download-artifact@v3
        with:
          name: onboarding-api

      - name: Auth gcloud
        id: gauth
        uses: google-github-actions/auth@ef5d53e30bbcd8d0836f4288f5e50ff3e086997d # @v1
        with:
          workload_identity_provider: '${{ secrets.GWIP }}'
          service_account: '${{ secrets.GSA }}'      

      - name: Deploy to google functions
        id: gclouddeploy
        uses: google-github-actions/deploy-cloud-functions@14509ca55199d9348161571e36c48e44f855030d #@v1
        with:
          name: 'onboarding-api-${{ env.GITHUB_HEAD_REF }}'
          runtime: 'nodejs16'
          region: 'europe-west-3'
          source_dir: 'onboarding-api/dist'
          # project_id: '${{ env.gcloud_project }}'
          allow_unauthenticated: true
          entry_point: 'handler'

      - name: 'Gcloud functions URL:'
        run: 'curl "${{ steps.gclouddeploy.outputs.url }}"' 

      # ToDo: create a redirect rule in Cloudflare using CF_API_KEY
      # to route /onboard-api to the Gcloud URL

