name: Deploy Altair and Staging
on:
  release:
    types:
      - prereleased
concurrency:
 # Cancel any staging or prod deployment on-going
 # in favor of this new pre-release
  group: production-deployment
  cancel-in-progress: true 
  
jobs:
  app-staging:
    strategy:
      fail-fast: false
      matrix:
        deploy_to: ["altair", "staging"]
    uses: ./.github/workflows/centrifuge-app.yml
    secrets: inherit
    with:
      deploy_env: ${{ matrix.deploy_to }}


  pinning-staging:
    strategy:
      fail-fast: false
      matrix:
        deploy_to: ["altair", "staging"]
    uses: ./.github/workflows/pinning-api.yml
    secrets: inherit
    with:
      deploy_env: ${{ matrix.deploy_to }}


  onboarding-staging:
    strategy:
      fail-fast: false
      matrix:
        deploy_to: ["altair", "staging"]
    uses: ./.github/workflows/onboarding-api.yml
    secrets: inherit
    with:
      deploy_env: ${{ matrix.deploy_to }}

  staging-slack-notify:
    needs: app-staging
    runs-on: ubuntu-latest
    steps:
      - name: Notify staging deploy
        if: inputs.deploy_env == 'altair'
        uses: rtCamp/action-slack-notify@12e36fc18b0689399306c2e0b3e0f2978b7f1ee7
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: |
            app-altair.centrifuge.io and app-staging.centrifuge.io updated by GH actions job:
            $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID
            Check out the new pre-release -> https://github.com/centrifuge/apps/releases/
          SLACK_USERNAME: "Centrifuge GHA Bot"
          SLACK_ICON: "https://centrifuge.io/favicon.ico"
          SLACK_TITLE: "Centrifuge app has been deployed in staging and Altair."
          SLACK_FOOTER: "Automatic message from centrifuge/apps repository Actions"  
    
